<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Roomies</title>

    <partial name="_AppStyles"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
